.mainElement{
	width: 100%;
	margin: 0;
}

.light{
	width: 25%;
	margin: 0 5% 5% 0;
	display: inline-block;
	vertical-align: top;
}

.light .field{
	margin-bottom: 2px;
}

.light .field .label{
	display: inline-block;
	margin-right: 2%;
}

.light .field .label, .light .field .value{
	display: inline;
}